@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("menu_background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    flex-direction: column;
}


.menu{
    text-align: center;
}

.button {
    text-align: center;
    position: relative;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    margin-bottom: 10px;
    transition: 0.5s;
    border: none;
    width: 10em;
}
.button a {
    text-decoration: none;
    color: black;
}
.button.water:hover {
    background: #1b59a0;
    box-shadow: 0 0 35px #1b59a0;
}
.button.water:hover a {
    color: #fff;
}
.button.air:hover {
    background: #98c2bc;
    box-shadow: 0 0 35px #98c2bc;
}
.button.air:hover a {
    color: #fff;
}
.button.earth:hover{
    background: #6fe62b;
    box-shadow: 0 0 35px #6fe62b;
}
.button.earth:hover a {
    color: #fff;
}
.button.fire:hover {
    background: #b91a1a;
    box-shadow: 0 0 35px #b91a1a;
}
.button.fire:hover a {
    color: #fff;
}
.button:before {
    content: '';
    position: absolute;
    inset: 2px;
}
button span {
    position: relative;
    z-index: 1;
}