@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url("images/menu_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
@font-face {
    font-family: 'ava';
    src: url(../CSS/Fonts/ava.ttf);
}

.h1{
    font-family:'ava', ;
    font-size: 30px;
    font-weight:normal;
    font-style:normal;
}

.menu{
    font-family: 'ava';
    text-align: center;
    font-weight:normal;
    font-style:normal;
}

.button {
    text-align: center;
    position: relative;
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    margin-bottom: 10px;
    border: none;
    width: 10em;
    transition: 1s;
    

}
.button a {
    text-decoration: none;
    color: black;
}
.button.water:hover {
    background: #1b59a0;
    box-shadow: 0 0 35px #1b59a0;
    transform: scale(1.3);
    z-index:2;
}
.button.water:hover a {
    color: #fff;
}
.button:hover{
    transform: scale(1.2);
    z-index:2;
}
.button.air:hover {
    background: #98c2bc;
    box-shadow: 0 0 35px #98c2bc;
    transform: scale(1.3);
    z-index:2;
}
.button.air:hover a {
    color: #fff;
}
.button.earth:hover{
    background: #6fe62b;
    box-shadow: 0 0 35px #6fe62b;
    transform: scale(1.3);
    z-index:2;
}
.button.earth:hover a {
    color: #fff;
}
.button.fire:hover {
    background: #b91a1a;
    box-shadow: 0 0 35px #b91a1a;
    transform: scale(1.3);
    z-index:2;
}
.button.fire:hover a {
    color: #fff;
}
.button:before {
    content: '';
    position: absolute;
    inset: 2px;
}
button span {
    position: relative;
    z-index: 1;
}

.Enemy{
    display: inline-block;
}

.You{
    float: left;
    text-align: left;
    position:relative;
    padding: 10px 30px;
}